a[href*="http"] {
    color: #f70;
}
a[href*="google"] {
    color:#666 ;
}
a[target]::after {
    content:"⇱";
    display:inline-block;
    text-decoration: none;
    transform: scale(-1, 1) translate(-3px);
}