.page {
    margin: 0;
    width: 100%;
    font-family: Arial, sans-serif;
}
.title {
    color: #ffa500;
    font-size: 60px;
    text-align: left;
    margin-left: 30px;
}
.wrapper {
    display: flex;
}
.holder {
    display: flex;
    flex-direction: row;
}
.holder-left {
    margin: 0 20px 0 0;
}
.holder-right {
    margin: 0 0 0 20px;
}
.inner {
    display: flex;
    flex-direction: column;
}
.userpic {
    width: 85px;
    height: 85px;
    margin: 0 30px 30px 0;
}
.subtitle {
    text-align: left;
    color: #637f83;
    font-size: 22px;
    margin: 5px 0;
}
.text {
    text-align: left;
    color: #959595;
    font-size: 14px;
    margin: 0;
}
.more {
    text-decoration-line: none;
    color: #e4551d;
}
.more:hover {
    text-decoration: underline;
}