.page {
    margin: 20 30 auto;
}
.search-string {
    display: flex;
    min-width: 170px;
}
.search-string__form::after {
    position: absolute;
    right: 0;
    top: 0;
    content: "";
    border: 13px solid transparent;
    border-top: 28px solid #ffffff;
    border-right: 0;
    border-bottom: 28px solid #ffffff;
}
.search-string__form {
    position: relative;
    display: flex;
    flex-direction: column;
    background: linear-gradient(#ffcb53, #eaba4c);
    width: 100%;
    padding: 5px 25px 0 5px;
}
.form__shell-search {
    display: flex;
}
.form__shell-selection {
    display: flex;
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}
.form__button {
    width: 70 px;
    height: 25px;
    margin-left: 5px;
    background: linear-gradient(#ffffff,#cccccc);
    border: none;
    border-radius: 2px;
    box-shadow: 1px 1px 1px #9e9d9d, -1px 0 1px #9e9d9d;
}
.form__button:hover {
    background: linear-gradient(#e7e5e5,#a5a5a5);
}
.form__button:active {
    background: #757575;
}
.form__placeholder {
    width: 100%;
    height: 26px;
    border: none;
    box-shadow: inset 1px 1px  3px #9e9d9d, inset -1px -1px 3px #a5a5a5;
    padding-left: 5px;
}
.form__example {
    margin: 0 0 4px 0;
}
.form__link {
    color: #000000;
    text-decoration-line: none;
    border-bottom: 1px dotted;
}
.form__link:hover {
    color: #ff0000;
}
.form__link:active {
    color: #870101;
}